.main
  .main__top
    .main__top__group
      テストグループ
      .main__top__group__member
        member: test
    .main__top__group__btn
      = link_to "Edit","#", class: "main__top__group__btn__edit--btn"
  .main__messages
  .main__form