.main
  .main__top
    .main__top__group
      テストグループ
      .main__top__group__member
        member: test
    .main__top__group__btn
      = link_to "Edit","#", class: "main__top__group__btn__edit--btn"
  .main__chat
    .main__chat__name
      testmen
      .main__chat__name__time
        2019/12/10/(tue) 12:12:12
    .main__chat__message
      おはよう

    .main__chat__name
      testmen
      .main__chat__name__time
        2019/12/10/(tue) 12:13:13
    .main__chat__message
      頑張ろう〜

    .main__chat__name
      testmen
      .main__chat__name__time
        2019/12/10/(tue) 12:14:14
    .main__chat__message
      テスト３っつめ
  .main__form
    .main__form__text-area
    .main__form__image
    .main__form__btn