*{
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}
.side-ber{ 

  &__header{
    background-color: #253141;
    width: 300px;
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    &__box{
      margin: 40px auto;
      list-style: none;
      display: flex;
      justify-content: space-between;
      width: 100vw;
      &__name{
        font-weight: bold;
        color: #ffffff;
      }
      &__icon{
        &__btn--icon{
          color: white;
          margin-left: 5px;
        }
      }
    }
  }
  &__lists{
    overflow: scroll;
    &__list{
      height: calc(100vh - 100px);
      width: 300px;
      background-color: #2f3e51;
      padding: 0 20px;
      color: white;
      a{ 
        color: #ffffff;
        text-decoration: none;
      }
      &__name{
        padding-top: 20px;
        font-size: 15px;
      }
      &__message{
        margin: 5px 0 40px 0;
        font-size: 11px;
      }
    }
  }
}

.main{
  .top{
    height: 100px;
    width: calc(100vw - 300px);
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    padding: 0 40px;
    background-color: #ffffff;
    &__group{
      font-size: 20px;
      padding-top: 35px;
      color: #333333;
      &__members{
        margin-top: 15px;
        font-size: 12px;
        color: #999999;
        &__lists{
          display: flex;
          &__list{
            margin-left: 5px;
          }
        }
      }
    }
    &__btn{
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin: 28px;
      border: 1px solid #38aef0;
      &__edit--btn{
        text-decoration: none;
        color: #38aef0;
        display: block;
      }
    }
  }
  &__chat{
    background-color:#fafafa;
    padding: 35px 0 0 40px;
    height: calc(100vh - 100px - 90px);
    border-bottom: solid 1px #eee;
    overflow: scroll;
    .message{
      .upper-message{
        display: flex;
        &__user-name{
          font-weight: bold;
          margin-bottom: 12px;
          display: flex;
        }
        &__date{
          color: #999999;
          margin-left: 10px;
          font-size: 12px;
          }
        }
      .lower-message{
        &__content{
          font-size: 14px;
          color: #434A54;
          margin-bottom: 46px;
        }
      }
    }
  }


  .form{
    background-color: #d2d2d2;
    height: 90px;
    width: calc(100vw - 300px);
    padding: 20px 40px;
    &__text-area{
      display: flex;
      &__field {
        height: 50px;
        width: 100vw;
        padding: 0 40px 0 10px; 
        border-style: none;
      }
      &__mask{
        &__image{
          cursor: pointer;
          position: relative;
          &__icon{
            color: black;
            font-size: 1.7rem;
            position: absolute;
            right: 10px;
            top:10px;
          }
          &__hidden{
            display: none;
          }
        }
      }
      .form__submit{
        padding: 0 30px;
        height: 50px;
        width: 100px;
        margin-left: 15px;
        background-color: #38aef0;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }
}