*{
  box-sizing: border-box;
}

.side-ber{
  height: 100px;
  width: 300px;
  background-color: #253141;
  position: fixed;
  padding: 0 20px;
  display: flex;
  align-items: center;
  &__box{
    background-color: #a7a7a7;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    width: 100vh;
    font-weight: bold;
    list-style: none;
  }
  .side-ber__btn--icon{
    color: white;
    margin-left: 5px;
  }
  &__group{
    height: 100vh;
    width: 300px;
    background-color: #2f3e51;
    padding: 100px 20px 0 20px;
    color: white;
    &__title{
      margin-top: 20px;
      font-size: 15px;
    }
    &__text{
      margin: 5px 0 40px 0;
      font-size: 11px;
    }
  }
}

.group{
  padding: 0 40px;
  
}